#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container{
	
}

#main-navbar ul {
	
}

#main-navbar ul li {
	
}

#main-navbar ul li a {
	
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#sidebar {
	
}

#sidebar ul {
	
}

#sidebar ul li a {
	
}

#sidebar ul li a:hover {
  background-color: #000;	
}


